<h1>Detalhes do Usuário</h1>
<p><strong>ID:</strong> <%= usuario.id %></p>
<p><strong>Nome de usuário:</strong> <%= usuario.username %></p>
<p><strong>Regra:</strong> <%= usuario.role %></p>
<a href="/usuarios" class="btn btn-primary">Voltar para a Lista</a>
